<?xml version="1.0" encoding="UTF-8"?>
<!-- https://logging.apache.org/log4j/2.x/manual/configuration.html

niveles de traza para log4j2:
OFF
FATAL
ERROR
WARN
INFO
DEBUG
TRACE
ALL

-->

<Configuration status="WARN">
    <Appenders>
        <Console name="consola" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS 'GMT' Z} [%p] [%c{1}.%M (%L)] - %m%n"/>
        </Console>
		
    </Appenders>

	<Loggers>
		<Logger name="com.nebur" level="debug" additivity="false">
		  <AppenderRef ref="consola"/>
		</Logger>
		
		<Root level="WARN">
		  <AppenderRef ref="consola"/>
		</Root>
		
	</Loggers>	

	
</Configuration>

